<h2>Give Us Your Feedback!</h2>
<p>Whether you have technical issues or suggestions fill out the form and let us know how we are doing.</t>

<%= render 'form' %>

<%= link_to 'Back', "../index" , id: "back_button", style: "color:#fff" %>

<script>
  $("#back_button").button();
</script>
